<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forca</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <div class="container-fluid" id="content-main" style="position: absolute; top: 25%; bottom: 50%;">
        <h1 id="main" style="text-align:center">Jogo da Forca</h1>
        <h2 style="text-align: center">🇧🇷</h2>
        <div class="container-fluid" style="width: 40em">
            <form hx-post="/play" hx-swap="innerHTML" hx-target="#content-main">
                {% csrf_token %}
                <fieldset>
                    <label>
                        Tamanho da palavra (2 a 23 letras)
                        <input
                            name="word-size"
                            type="range"
                            value="50"
                        >
                    </label>
                  <input
                    type="submit"
                    value="Jogar"
                  >
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>