<div class="container" style="padding: 30px" id="word-placeholder">
    <h1 style="text-align: center">
        <strong style="font-family: 'Courier New'">{{ word }}</strong>
    </h1>
</div>
<div class="grid">
    <div id="stats-area" style="justify-content: center; align-content: center">
        <h3 style="text-align: center">Remaining Lives</h3>
        <h1 style="text-align: center">{{ lifes }}</h1>
    </div>
    <div id="input-area">
        <form hx-post="/update" hx-swap="innerHTML" hx-target="#content-main">
            {% csrf_token %}
            <fieldset>
                <label>
                    New letter
                    <input
                        name="letter-input"
                        placeholder="Type your letter here"
                    >
                    <input
                        type="hidden"
                        name="remaining-lifes"
                        value="{{ lifes }}"
                    >
                </label>
                <input
                    type="submit"
                    value="Try"
                >
            </fieldset>
        </form>
    </div>
</div>